body {
    background-image: url(Images/bg.jpg);
    background-attachment: fixed;
    font-family: Trebuchet, Geneva, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: #4c3803;
    background-color: #b28306;
    border-radius: 20px;
    border-bottom: 1px solid #4c3803;
    width: 75%;
    height: 200px;
    overflow: hidden;
}

.contenedor {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    body {
        background-image: none;
        background-color: aquamarine;
        font-family: 'Courier New', Courier, monospace;
    }
}