body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

.publi1 {
    position: relative;
}

.publi2 {
    background-color: aquamarine;
    float: right;
    height: 800px;
    width: 15%;
    text-align: center;
}

.indice {
    background-image: linear-gradient(red, yellow, black);
    float: left;
    width: 15%;
    height: 800px;
}

.texto {
    text-transform: capitalize;
    line-height: 1.8;
    text-indent: 20px;
    padding: 30px;
    background-color: pink;
    width: 70%;
    float: left;
    height: 800px;
    overflow: scroll;
}

.sombra {
    font-size: 200%;
    font-family: 'Permanent Marker', sans-serif;
    color: black;
    text-shadow: 6px 6px 2px #E610FB;
}

#ainsley {
    float: left;
    margin: 20px;
}

#alien {
    float: right;
    margin: 20px;
}