body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

.publi1 {
    position: relative;
}

.publi2 {
    background-color: aquamarine;
    float: right;
    height: 800px;
    width: 15%;
    text-align: center;
}

.indice {
    background-image: linear-gradient(red, yellow, black);
    float: left;
    width: 15%;
    height: 800px;
}

.texto {
    padding: 30px;
    background-color: pink;
    width: 70%;
    float: left;
    height: 800px;
    overflow: scroll;
}

img {
    width: 100%;
    height: auto;
}