* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: flex;
}

main {width: 60%;}

header {background-color: #ffd100; color: aqua;}