body {
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 200%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    position: absolute;
    transform: translate(-50% -50%);
    top: 50%;
    left: 10%
}

.texto {
    flex-basis: 300px;
    margin: 10px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: #E6E6E6;
}

.boton {
    position: relative;
    flex-basis: 250px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: #3759e2;
    color: #fff;
    box-shadow: 8px 8px 5px rgba(226, 209, 12, 0.35);
}

.texto:focus {
    border: 5px solid #3759e2;
}

.texto:hover {
    border: 5px solid #3759e2;
}

.boton:hover {
    box-shadow: none;
}