* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
    color: #434344;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 5px dashed #0d6427;
    grid-column: 1 / span 2;
}

main {
    max-width: 850px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
}

aside {
    border-top: 2px solid #0d6427;
}

article {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 10px;
}

.encabezado {
    color: #ada70a;
    font-size: 32px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image {
    border-radius: 30px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.bold {
    font-weight: bold;
    font-size: 150%;
}

footer {
    grid-column: 1 / span 2;
    background-color: #0d6427;
    color: white;
    text-align: center;
}

.boton {
    padding: 15px;
    border: none;
    background-color: #0d6427;
    color: white;
    border-radius: 1.25rem;
    float: right;
}

@media screen and (max-width: 760px) {
    main {
        grid-template-columns: 1fr;
    }

    footer {
        grid-column: unset;
    }

    header {
        grid-column: unset;
    }

    aside {
        grid-area: 3 / 1 / 5 / 1;
    }
}